{% extends 'base.html.twig' %}

{% block title %} Список авторов {% endblock %}

{% block content %}
    <form class="form-inline my-2 my-lg-0" action="{{ path('author_list') }}" method="GET">
        <input class="form-control mr-sm-2" type="search" aria-label="Search" name="name">
        <button class="btn btn-default my-2 my-sm-0" type="submit">Поиск по имени</button>
    </form>
    <p><a href="{{ path('author_create') }}">Создание автора</a></p>
    <table class="table table-striped table-hover">
        <tr>
            <th>№ п/п</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        {% for author in authors %}
            <tr>
                <td>{{ author.id }}</td>
                <td>{{ author.name }}</td>
                <td>
                    <p><a href="{{ path('author_show', {'id': author.id}) }}">Просмотр</a></p>
                    <p><a href="{{ path('author_update', {'id': author.id}) }}">Редактировать</a></p>
                    <p><a href="{{ path('author_delete', {'id': author.id}) }}">Удалить</a></p>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
