{% extends 'base.html.twig' %}

{% block title %} Создание pupupupupuser {% endblock %}

{% block content %}
    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.age) }}
        {{ form_row(form.salary) }}
    {{ form_end(form) }}

    <a href="{{ path('pupupupupuser_list') }}">Назад</a>
{% endblock %}
